contourpy           
cycler              
fonttools           
importlib_resources 
kiwisolver          
matplotlib          
numpy               
packaging
pandas              
pillow              
pip
pyparsing           
python-dateutil     
pytz
scapy               
seaborn             
setuptools          
six                 
tzdata
zipp                
